#### Database Operation for SQLite : Connection and Execution of Query

Pacakage

In [1]:
# pip install pysqlite3
import sqlite3

Connection

In [19]:
# If sample.db exist, it will connect with it
# Otherwise it will create it
sqliteConnection = sqlite3.connect('sample.db')
cursor = sqliteConnection.cursor() # Using this object SQL query need to be executed

Execution of a Query to update Table/Databse

In [4]:
cursor.execute("create table student (roll int, marks int)") # Table creation query executed

In [5]:
cursor.execute("insert into student values (1, 10), (2, 20), (3, 30)") # Insert Query to insert 3 values

After Table/Database modification we must need to commit

In [20]:
sqliteConnection.commit()

Fetch Data from Table

In [6]:
result = cursor.execute("select * from student")

Fetch record one by one

In [7]:
result.fetchone() # Display the first record and move pointer to next record

(1, 10)

In [8]:
result.fetchone() # Display the second record and move pointer to next record

(2, 20)

In [9]:
result.fetchone() # Display the third record and move pointer to next record

(3, 30)

In [11]:
result.fetchone() == None # Nothing left out

True

Fetch all record

In [13]:
result = cursor.execute("select * from student")

In [14]:
result.fetchall()

[(1, 10), (2, 20), (3, 30)]

Close Connection

In [16]:
cursor.close() # Close cursor object
sqliteConnection.close() # Terminate SQLite connection

Delete .db File

In [17]:
import os
os.unlink("sample.db")