Database Operation for MySQL : Connection and Execution of Query

Package

In [1]:
# pip install mysql-connector-python
import mysql.connector

Connection

In [2]:
MySQLConnection = mysql.connector.connect(
  host="localhost",
  user="root",
  password="rajarshi"
)

Cursor Object

In [3]:
cursor = MySQLConnection.cursor() # Using this object SQL query need to be executed

Execution of a Query

In [4]:
cursor.execute("Use rajarshi_working") # I already have this Database

In [5]:
cursor.execute("show tables") # I have one table in rajarshi_working database
for table in cursor:
    print(table)

('student',)

In [6]:
cursor.execute("create table dummy (roll int, marks int)") # Create a new table

In [7]:
cursor.execute("show tables") # Now have two tables in rajarshi_working database
for table in cursor:
    print(table)

('dummy',)
('student',)

In [8]:
cursor.execute("insert into dummy values (1, 10), (2, 20), (3, 30)") # Insert 3 Records into Dummy

Commit Records

In [9]:
MySQLConnection.commit()

Fetch Data from Table

In [10]:
cursor.execute("select * from dummy")

Fetch record one by one

In [11]:
cursor.fetchone() # Display the first record and move pointer to next record

(1, 10)

In [12]:
cursor.fetchone() # Display the second record and move pointer to next record

(2, 20)

In [13]:
cursor.fetchone() # Display the third record and move pointer to next record

(3, 30)

In [14]:
cursor.fetchone() == None # Nothing left out

True

Fetch all record

In [15]:
cursor.execute("select * from dummy")
cursor.fetchall()

[(1, 10), (2, 20), (3, 30)]

Drop Table

In [16]:
cursor.execute("drop table dummy") # Delete table dummy
cursor.execute("show tables") # Now have 1 table in rajarshi_working database
for table in cursor:
    print(table)

('student',)

Close Connection

In [17]:
cursor.close()
MySQLConnection.close()