# List

List is Iterable, Ordered and Indexed<br>Indexing is exactly same as String<br>Slicing is exactly same as String<br>Length is exactly same as String

#### List is Mutable

In [86]:
a = [1,2,3,4]

In [87]:
a[2] = 100

In [88]:
a

[1, 2, 100, 4]

#### Concatenate two List

In [115]:
a = [1,2,3]
b = [4,5,6]

In [116]:
a+b # Return a new list

[1, 2, 3, 4, 5, 6]

In [117]:
a.extend(b)

In [118]:
a # Modify list a itself

[1, 2, 3, 4, 5, 6]

#### Addition/Deletion of item

add value at end. Only one value can be added at a time

In [92]:
a = [1,2,3]
a.append(4) # Append value and modify the List

In [93]:
a

[1, 2, 3, 4]

remove value from end. Only one value can be removed at a time

In [94]:
a = [1,2,3,4]
a.pop() # Return the last value. Modify the List

4

In [95]:
a

[1, 2, 3]

remove item from specific index position. Only one value can be removed at a time

In [96]:
a = [1,2,3,4]
a.pop(1) # Return value from that index. Modify the List

2

In [97]:
a

[1, 3, 4]

insert item at specific index position. Only one value can be added at a time

In [98]:
a = [1,2,3,4]
a.insert(2, 100) # at second index 100 will be added. Rest of the value will be shifted. Modify the List

In [99]:
a

[1, 2, 100, 3, 4]

remove a specific value. Only first occurance of that value will be removed

In [100]:
a = [1,2,3,2,4,2,5]
a.remove(2) # Modify the List

In [101]:
a

[1, 3, 2, 4, 2, 5]

remove all item from list

In [119]:
a = [1,2,3,2,4,2,5]
a.clear() # Modify the List

In [120]:
a

[]

#### Index of value

In [102]:
a = [1,2,3,2,4,2,5]
a.index(2) # Return index of first occurance of value 2

1

#### Sort

In [103]:
a = [1, 100, 45, 7]
a.sort() # Sort in ascending order. Modify the List

In [104]:
a

[1, 7, 45, 100]

In [105]:
a = [1, 100, 45, 7]
a.sort(reverse=True) # Sort in descending order. Modify the List

In [106]:
a

[100, 45, 7, 1]

#### Reverse

In [107]:
a = [1, 100, 45, 7]
a.reverse() # Reverse the list. Modify the list

In [108]:
a

[7, 45, 100, 1]

#### Count of Items

In [109]:
a = [1,2,3,2,4,2,5]
a.count(2) # Return count of all occurances of value 2

3

#### Convert List into String

In [111]:
a = ["I", "work", "in", "Honeywell"]
"@".join(a) # Append that substring in between all items

'I@work@in@Honeywell'

String conversion can be done only if all Items are String

In [112]:
a = [1, "work", "in", "Honeywell"]
"@".join(a)

TypeError: sequence item 0: expected str instance, int found

#### Numeric Operations

below operations can be performed if all of the list items are Numeric. Else error

In [122]:
a = [1, 2, 5.6, 4, 0]

In [123]:
max(a) # Highest value

5.6

In [124]:
min(a) # Lowest value

0

In [125]:
sum(a) # Addition of all values

12.6